@{
    ViewData["Title"] = "Hotel";
}

@foreach (var item in ViewData["hotel"] as IEnumerable<Hotels>)
{
    <div class="name">@item.Name</div>
    for (var i = 0; i < item.Rating; i++)
    {
        <img src="~/images/app/star.png" width="40px" />
    }
    <p class="address">@item.Address</p>
    <p class="country">@item.Country.Name</p>

    <table id="hotelpics">
        <tr>
            <td><img src="~/images/hotels/@item.Img1" width="50%" /></td>
            <td><img src="~/images/hotels/@item.Img2" width="50%" /></td>
        </tr>
    </table>
    <p class="description">@item.Description</p>
}

</br>
</br>
</br>

<table id="rooms">
    @foreach (var item in ViewData["rooms"] as IEnumerable<Rooms>)
    {
        <tr id="@item.Id" onclick="popup('@item.Name', '@item.Description', '@item.Price', '@item.Img', @item.Id)">
            <td><img src="~/images/rooms/@item.Img" width="50%" /></td>
            <td>@item.Name</td>
        </tr>
    }
</table>

<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <div id="name"></div>
        </div>
        <div class="modal-body">
            <div id="description"></div>
            <div id="roompicture"></div>
            <div id="price"></div>
        </div>
        <div class="modal-footer">
            <input type="button" value="Reserve" id="reservebutton" onclick="redirect()" />
        </div>
    </div>
</div>


